#video-container {
    margin-top: 80px;
    display: block;
    /* position: absolute; */
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}

.edit-container {
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
            align-items: center;
    -webkit-justify-content: center;
            justify-content: center;
}

#player {
    display: inline-block;
    width: 630px;
    height: 422px;
}

#video-controller {
    width: 30%;
    display: inline-block;
    margin-left: 60px;
}

#video-controller .list-button {
    background-color: green;
    margin-right: 10px;
    padding: 4px;
    cursor: pointer;
}

#caption-area {
    display: block;
    /* position: absolute; */
    top: 60%;
    left: 8%;
    width: 626px;
    background: transparent;
}

#caption-area p {
    margin-left: 15px;
    text-align: center;
    font-size: 17px;
    color: yellow;
}

#caption-list {
    margin-top: 40px;
    height: 422px;
    width: 100%;
    overflow: hidden;
    /* overflow-y: scroll; */
    text-align: left;
    padding: 0;
    margin: 0;
}

#caption-list li {
    padding: 0.3em;
    margin-bottom: .125em;
    display: block;
    list-style: none;
    text-transform: uppercase;
    cursor: pointer;
}

#caption-list li:nth-child(2n) {
    background-color: #555;
}

#caption-list li:nth-child(2n+1) {
    background-color: #333;
}

#caption-list li.selected {
    border: 3px solid;
    border-color: #9C2C2C;
}

#edit-form .text-edit {
    margin-top: 10px;
    width: 630px;
    height: 200px;
    font-size: 18px;
}

#edit-form .edit-button {
    margin-top: 10px;
}

#translation-area {
    display: block;
}